@import "tailwindcss";
$container-max-width: 1736px;
$padding-mobile: 12px;
$padding-tablet: 24px;
$padding-desktop: 32px;

$mobile: 640px;
$tablet: 1024px;
$desktop: 1025px;
:root {
  --background: #ffffff;
  --foreground: #172A24;
  --light-blue:#F6FBFF;
  --light-blueBorder:rgba(115, 153, 233, 1);
  --light-gray:rgba(118, 118, 118, 1);
  --dark-text:rgba(8, 15, 13, 1);
  --dard-gray:rgba(70, 70, 70, 1);
  --secondary-balack:rgba(40, 40, 40, 1);
  --secondary-gray:rgba(121, 121, 121, 1);
  --placeholder-color:rgba(167, 167, 167, 1);
  --thin-blue:rgba(135, 154, 195, 1);
  --gray:rgba(114, 118, 142, 1)
} 

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Inter", sans-serif!important;
  padding: 0;
  margin: 0;
}
p{
  padding: 0;
  margin: 0;
}

.custom-container {
  width: 100%;
  max-width: $container-max-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: $padding-desktop;
  padding-right: $padding-desktop;

  @media (max-width: $mobile) {
    padding-left: $padding-mobile;
    padding-right: $padding-mobile;
  }

  @media (min-width: 641px) and (max-width: $tablet) {
    padding-left: $padding-tablet;
    padding-right: $padding-tablet;
  }

  @media (min-width: $container-max-width) {
    padding-left: 0;
    padding-right: 0;
  }
}


